.navMenu {
  font-size: 26px;
  font-family: 'Barlow', sans-serif;
  color: #003B5C;
}

.sidenav-trigger {
font-size: 22px;
font-family: 'Barlow', sans-serif;
color: #003B5C;
}

#logo {
  margin-left: 10px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  color: #003B5C;
}

nav .nav-wrapper {
    background: #9e9691;
    height: 65px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 30px;
	height: 20px;
	background: #9e9691;
	display: block;
	border-radius: 10px;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 20px;
	background: #fff;
	border-radius: 10px;
	transition: 0.3s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

input:checked + label {
	background: #003B5C;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}

/* centering */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}