.navMenu {
  font-size: 26px;
  font-family: 'Barlow', sans-serif;
  color: #003B5C;
}

.sidenav-trigger {
font-size: 22px;
font-family: 'Barlow', sans-serif;
color: #f3a712;
}

#logo {
  margin-top: 4px;
  margin-left: 10px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  color: #f3a712;
}

/* nav header background */
nav .nav-wrapper {
    background: #29335c;
    height: 65px;
}

h4 {
  font-family: 'Barlow', sans-serif;
  color: #003B5C;
  padding-bottom: 20px;
  padding-top: 20px;
}

li{
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

#error{
margin-left: 25px;
font-family: 'Barlow', sans-serif;
color:red;
font-weight: bold;
}

/* Adopt page icons */
#home {
  background-color: #f0cea0;
}

#count, #animal{
  background-color:#f3a712;
}

/* icons */
.material-icons {
  background-color: #f3a712;
}
#sidenav{
  background-color:  transparent;
}

.transparent-icons {
  background-color:  transparent;
  color: #f3a712;
}

/* adopt ready icon for pet list on adoption page */
#home {
  color: #f3a712;
}

/* toggle switch styling */
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #f3a712; 
} 

.switch label input[type=checkbox]:checked+.lever {
    background-color: #f3a81263;
}

/* input field border color */
  .input-field input[type]:not([readonly]),
    .input-field input[type]:focus:not([readonly]),
    .input-field textarea:not([readonly]),
    .input-field textarea:focus:not([readonly]) {
        border-bottom: 1px solid #f0cea0;
        box-shadow: 0 1px 0 0 #f0cea0;
    }

/* label color */
  .input-field input[type]:focus:not([readonly])+label,
    .input-field textarea:focus:not([readonly])+label {
        color: #29335c;
    }


/* animal image dropdown list */
.dropdown-content li>span {
    font-size: 16px;
    color: #29335c;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 2px solid #f0cea0;
}
