.navMenu {
  font-size: 26px;
  font-family: 'Barlow', sans-serif;
  color: #003B5C;
}

.sidenav-trigger {
font-size: 22px;
font-family: 'Barlow', sans-serif;
color: #003B5C;
}

#logo {
  margin-left: 10px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  color: #003B5C;
}

/* nav header background */
nav .nav-wrapper {
    background: #9e9691;
    height: 65px;
}

h4 {
   font-size: 18px;
  font-family: 'Barlow', sans-serif;
  color: #003B5C;
}
/* HP dashboard icons */
.material-icons {
  color: #003B5C;
}

/* Adopt page icons */
.material-icons.circle {
  color: #003B5C;
}

.card1 {
  height: 600px;
  width: 350px;
  border: 1px solid black;
}

#image1 {
  height: 200px;
  width: 350px;
}
/* toggle switch color */
/* .switch label input[type=checkbox]:checked+.lever {
    background-color: #003B5C;
} */


